/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    text-align: center;
    background: #fff;
    color: #3d3d3d;
    font-size: 16px;
    line-height: 1.7;
}

section {
    padding: 108px 0;
}
.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

/* splash */

.splash {
    height: 100vh;
    position: relative;
    background-image: url(https://i.postimg.cc/fRxSLwvW/pexels-photo-3418058.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.splash-inner {
    position: absolute; 
    width: 100%; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: white;
}